header,main,footer{
	width:1200px;
  margin:auto;
  padding:20px;
  font-family: sans-serif;
  }
main{
    display: grid;
    grid-template-columns: repeat(3,100fr);
}
img{width:100%;}
a{
	color:white;
  text-decoration:inherit;
  background:rgb(92, 35, 133);
  padding:10px;
  border-radius:5px;
}
header,footer{
  text-align: center;
}